.createProductTitle {
  display: flex;
  width: 80%;
  margin: 2em auto 1em auto;
}

.createProductTitle h2 {
  margin: 0;
  width: auto;
}

.createProductTitle div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
}

.createProductTitle div a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCRUD {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.editButton, .removeButton {
  padding: 10px;
  border-radius: 100%;
  margin: 10px;
  height: 30px;
  width: 30px;
  transition: .3s ease-in-out;
}

.editButton {
  background-color: #FF9B50;
}

.removeButton {
  background-color: #C63D2F;
}

.editButton:hover, .removeButton:hover {
  transform: scale(1.1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}