h1{
  width: 80%;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='540' preserveAspectRatio='none' viewBox='0 0 600 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='600' height='540' x='0' y='0' fill='rgba(79%2c 112%2c 156%2c 1)'%3e%3c/rect%3e%3cpath d='M650 540L0 540 L0 298.96Q43.25 292.21%2c 50 335.46Q59.63 315.08%2c 80 324.71Q76.91 291.62%2c 110 288.53Q118.34 246.87%2c 160 255.21Q204.98 270.19%2c 190 315.17Q221.69 296.87%2c 240 328.56Q261.04 319.6%2c 270 340.64Q274.55 295.19%2c 320 299.73Q320.38 250.11%2c 370 250.48Q426.06 276.55%2c 400 332.61Q391.99 294.6%2c 430 286.59Q430.19 256.78%2c 460 256.97Q475.82 242.79%2c 490 258.61Q519.06 257.67%2c 520 286.73Q548.55 285.28%2c 550 313.83Q588.4 302.24%2c 600 340.64Q600.42 291.06%2c 650 291.49z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M620 540L0 540 L0 373.5Q21.23 364.73%2c 30 385.95Q37.33 343.28%2c 80 350.61Q78.59 319.2%2c 110 317.79Q148.06 305.85%2c 160 343.9Q185.64 339.54%2c 190 365.19Q210.56 355.75%2c 220 376.32Q240.76 367.08%2c 250 387.84Q257.54 345.38%2c 300 352.91Q331.22 334.13%2c 350 365.36Q385.73 371.09%2c 380 406.81Q379.22 356.03%2c 430 355.26Q438.82 334.08%2c 460 342.9Q476.04 308.94%2c 510 324.97Q542.01 326.98%2c 540 358.99Q565.81 354.8%2c 570 380.61Q589.5 350.11%2c 620 369.61z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M610 540L0 540 L0 454.41Q0.93 405.34%2c 50 406.27Q58.5 384.77%2c 80 393.28Q120.6 403.88%2c 110 444.48Q142.52 427%2c 160 459.53Q190.24 459.76%2c 190 490Q189.78 439.78%2c 240 439.57Q242.07 391.64%2c 290 393.72Q350.86 424.58%2c 320 485.44Q306.71 442.15%2c 350 428.87Q355.5 404.37%2c 380 409.86Q398.2 378.06%2c 430 396.27Q471.02 387.29%2c 480 428.32Q518.3 416.63%2c 530 454.93Q562.13 457.06%2c 560 489.18Q556.67 435.85%2c 610 432.52z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M620 540L0 540 L0 540.22Q-5.63 504.59%2c 30 498.96Q38.75 457.7%2c 80 466.45Q110.21 446.66%2c 130 476.88Q198.73 495.61%2c 180 564.33Q170.79 505.13%2c 230 495.92Q245.34 461.26%2c 280 476.6Q334.06 480.66%2c 330 534.72Q327.01 501.73%2c 360 498.74Q371.5 460.24%2c 410 471.73Q450.3 462.03%2c 460 502.34Q495.75 508.09%2c 490 543.83Q515.22 539.05%2c 520 564.26Q521.62 515.88%2c 570 517.5Q584.97 482.47%2c 620 497.44z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='600' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: var(--main-txt-color);
  padding: 30px 50px;
  border-radius: 30px;
  margin-bottom: 30px;
  border: 2px solid var(--main-bg-color);
}

form button {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding: 10px 30px;
  transition: .3s;
  text-transform: uppercase;
  cursor: pointer;
}
form button:hover {
  transform: scale(1.03);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}

.form-input {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-txt-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-input {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-txt-color);
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.form-input[type='file'] {
  color: black;
  height: 20px;
  overflow: hidden;
  border: 2px solid var(--main-bg-color);
  transition: .3s;
  width: 75%;
  margin: auto;
  
}
.form-input[type='file']::-webkit-file-upload-button{
  display: none;
}
.form-input[type='file']::before{
  content: 'Choisi une image';
  text-align: center;
  width: 100%;
  height: 45px;
  overflow: hidden;
  cursor: pointer;
}
.form-input[type='file']:hover {
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
}

textarea {
  resize: none;
  width: 100%;
  height: 50px;
}