h1{
  width: 80%;
  margin: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* background-color: var(--secondary-bg-color); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='500' preserveAspectRatio='none' viewBox='0 0 500 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1277%26quot%3b)' fill='none'%3e%3crect width='500' height='500' x='0' y='0' fill='rgba(79%2c 112%2c 156%2c 1)'%3e%3c/rect%3e%3cpath d='M508.3333333333334 500L0 500 L0 150.75Q17.78 126.86%2c 41.66666666666667 144.64Q38.62 116.59%2c 66.66666666666667 113.54Q105.04 110.24%2c 108.33333333333334 148.61Q153.58 152.19%2c 150 197.44Q130.27 136.05%2c 191.66666666666669 116.32Q271.78 154.77%2c 233.33333333333337 234.88Q213.3 173.18%2c 275.00000000000006 153.15Q266.54 119.69%2c 300.00000000000006 111.22Q383.04 152.6%2c 341.66666666666674 235.64Q337.54 206.51%2c 366.66666666666674 202.38Q340.29 151%2c 391.66666666666674 124.62Q395.71 103.66%2c 416.66666666666674 107.71Q450.09 116.13%2c 441.66666666666674 149.56Q496.76 162.98%2c 483.3333333333334 218.07Q470.85 180.58%2c 508.3333333333334 168.1z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M533.3333333333335 500L0 500 L0 285.02Q4.46 264.48%2c 25 268.94Q31.58 250.52%2c 50 257.1Q55.4 237.5%2c 75 242.91Q73.15 216.06%2c 100 214.2Q160.48 233.02%2c 141.66666666666669 293.5Q178.62 288.79%2c 183.33333333333337 325.74Q185.96 303.37%2c 208.33333333333337 305.99Q208.38 281.03%2c 233.33333333333337 281.08Q220.14 242.89%2c 258.33333333333337 229.7Q327.99 257.69%2c 300.00000000000006 327.34Q284.05 269.72%2c 341.66666666666674 253.77Q344.38 214.82%2c 383.3333333333334 217.53Q399.01 191.54%2c 425.0000000000001 207.22Q458.03 215.25%2c 450.0000000000001 248.28Q504.08 260.7%2c 491.6666666666668 314.78Q484.7 266.15%2c 533.3333333333335 259.18z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M516.6666666666667 500L0 500 L0 300.12Q47.06 305.51%2c 41.66666666666667 352.57Q86.23 355.47%2c 83.33333333333334 400.03Q113.35 388.38%2c 125.00000000000001 418.4Q143.36 411.75%2c 150 430.11Q150.17 405.28%2c 175 405.46Q166.5 371.96%2c 200 363.46Q249.59 388.05%2c 225 437.65Q201.08 372.06%2c 266.6666666666667 348.14Q270.18 309.98%2c 308.33333333333337 313.49Q364.77 328.26%2c 350.00000000000006 384.7Q380.71 390.4%2c 375.00000000000006 421.11Q371.73 376.17%2c 416.66666666666674 372.9Q402.87 334.11%2c 441.66666666666674 320.31Q489.99 343.63%2c 466.66666666666674 391.95Q464.51 364.79%2c 491.66666666666674 362.63Q491.93 337.89%2c 516.6666666666667 338.16z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M533.3333333333334 500L0 500 L0 464.64Q48.55 488.19%2c 25 536.73Q-19.61 450.46%2c 66.66666666666667 405.85Q124.61 438.8%2c 91.66666666666667 496.74Q71.22 451.3%2c 116.66666666666667 430.85Q177.88 450.4%2c 158.33333333333334 511.61Q136.18 464.46%2c 183.33333333333334 442.31Q239.12 473.1%2c 208.33333333333334 528.89Q192.93 471.82%2c 250 456.42Q246.23 427.65%2c 275 423.89Q285.12 392.34%2c 316.6666666666667 402.46Q368.87 429.66%2c 341.6666666666667 481.86Q339.25 437.78%2c 383.33333333333337 435.36Q398.01 408.37%2c 425.00000000000006 423.05Q457.64 414.02%2c 466.66666666666674 446.66Q484.86 439.85%2c 491.66666666666674 458.04Q548.04 472.75%2c 533.3333333333334 529.13z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1277'%3e%3crect width='500' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: var(--main-txt-color);
  padding: 30px 50px;
  border-radius: 30px;
  margin-bottom: 30px;
}

form button {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  padding: 10px 30px;
  transition: .3s;
  text-transform: uppercase;
  cursor: pointer;
}
form button:hover {
  transform: scale(1.03);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}

.form-input {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-txt-color);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-input {
  border-radius: 15px;
  border:  none;
  background-color: var(--main-txt-color);
  display: flex;
  flex-direction: column;
}
.form-input[type='file'] {
  color: black;
}