@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color: #0F2C59;
  --secondary-bg-color: #4F709C; 
  --main-txt-color: white;
  --main-txt-family: 'pacifico', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-image: url('../uploads/sky.jpg');
  background-repeat: repeat;
  background-size: cover; */
}

main {
  min-height: calc(100vh - 210px);
}

nav {
  /* background-color: var(--main-bg-color); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='120' preserveAspectRatio='none' viewBox='0 0 1440 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1213%26quot%3b)' fill='none'%3e%3crect width='1440' height='120' x='0' y='0' fill='rgba(79%2c 112%2c 156%2c 1)'%3e%3c/rect%3e%3cpath d='M1560 120L0 120 L0 88.74Q37.08 53.82%2c 72 90.9Q132.48 31.38%2c 192 91.86Q230.11 57.97%2c 264 96.08Q299.13 59.2%2c 336 94.33Q371.39 57.72%2c 408 93.11Q468.58 33.7%2c 528 94.28Q561.38 55.66%2c 600 89.05Q660.6 29.64%2c 720 90.24Q757.53 55.77%2c 792 93.3Q825.15 54.45%2c 864 87.61Q901.54 53.15%2c 936 90.69Q995.69 30.38%2c 1056 90.07Q1117.9 31.98%2c 1176 93.88Q1212.3 58.18%2c 1248 94.48Q1307.15 33.63%2c 1368 92.78Q1403.81 56.59%2c 1440 92.4Q1500.24 32.64%2c 1560 92.88z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1512 120L0 120 L0 104.47Q33.28 65.75%2c 72 99.03Q108.66 63.7%2c 144 100.36Q205.32 41.69%2c 264 103.01Q324.24 43.25%2c 384 103.48Q420.3 67.78%2c 456 104.08Q511.49 39.57%2c 576 95.06Q614.37 61.43%2c 648 99.79Q705.65 37.44%2c 768 95.09Q805.24 60.33%2c 840 97.56Q877.09 62.65%2c 912 99.73Q945.32 61.05%2c 984 94.37Q1021.84 60.21%2c 1056 98.05Q1094.05 64.09%2c 1128 102.14Q1160.32 62.46%2c 1200 94.78Q1260.32 35.1%2c 1320 95.42Q1361.09 64.5%2c 1392 105.59Q1446.42 40.02%2c 1512 94.44z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1488 120L0 120 L0 106.39Q61.86 48.25%2c 120 110.1Q179.02 49.12%2c 240 108.14Q297.57 45.72%2c 360 103.29Q397.18 68.47%2c 432 105.65Q472.25 73.9%2c 504 114.15Q536.73 74.88%2c 576 107.61Q635.76 47.37%2c 696 107.13Q759.5 50.63%2c 816 114.12Q848.06 74.18%2c 888 106.23Q949.07 47.3%2c 1008 108.37Q1070.56 50.93%2c 1128 113.49Q1183.25 48.74%2c 1248 103.99Q1313.1 49.09%2c 1368 114.19Q1422.87 49.06%2c 1488 103.93z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M1512 120L0 120 L0 123.46Q32.75 84.21%2c 72 116.96Q108.53 81.49%2c 144 118.01Q201.88 55.89%2c 264 113.77Q328.66 58.44%2c 384 123.1Q418.59 85.69%2c 456 120.27Q512.92 57.2%2c 576 114.12Q612.15 78.28%2c 648 114.43Q683.37 77.8%2c 720 113.16Q780.58 53.73%2c 840 114.31Q876.18 78.5%2c 912 114.68Q948.34 79.02%2c 984 115.36Q1022.91 82.28%2c 1056 121.19Q1111.7 56.89%2c 1176 112.59Q1212.42 77.01%2c 1248 113.43Q1286.67 80.1%2c 1320 118.77Q1357.35 84.12%2c 1392 121.47Q1448.77 58.24%2c 1512 115z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1213'%3e%3crect width='1440' height='120' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

li {
  list-style: none;
  color: var(--main-txt-color);
  font-size: 20px;
  margin: 1em;
}

.navLinks {
  position: relative;
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

.navLinks:hover {
  opacity: 1;
}

.navLinks > svg {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 32%;
  transition: .3s ease-in-out;
}

.navLinks:hover svg {
  opacity: 1;
  transform: translateY(-30px);
}

.logoHomePage {
  height: 50%;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

.login-button {
  padding: 0.5em;
  background-image: url("https://giphy.com/gifs/dominosukroi-animation-happy-l0Exp9C8MtM0fuWDC")
  border: 2px solid white;
  border-radius: 10px;
  transition: .350ms ease-in-out;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(1.05);
  background-color: var(--main-txt-color);
}

.login-button:hover a {
  color: var(--main-bg-color);
}

ul, li {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  font-weight: 500;
}

.homepageMain {
  min-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.homepageMain h1 {
  margin: 1em;
  padding: 0.5em;
  border-radius: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  font-family: var(--main-txt-family);
  width: auto;
}

.containerCloudCard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
  margin: auto;
  justify-content: space-around;
}

h2 {
  width: 80%;
  margin: 2em auto;
  font-family: var(--main-txt-family);
  color: var(--secondary-bg-color);
  font-size: 2em;
}

.cloudCard {
  border-radius: 10px;
  width: calc(100%/5 - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cloudThumbnail {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 10px;
}

.containerNameCloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerNameCloudDetail {
  display:  flex;
  justify-content: space-between;
  width: 90%;
}

.rentButton {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-txt-color);
  background-color: var(--secondary-bg-color);
  transition: .3s;
}
.rentButton:hover {
  transform: scale(1.03);
}

.containerSquad {
  max-width: 100%;
  margin: auto;
}

.containerSquad p {
  width: 80%;
  margin: auto;
}

.containerSquadProfil {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.cardSquadProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
  padding-bottom: 25px;
  border-radius: 15px;
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardSquadProfil:hover {
  transform: scale(1.02);
  transform-origin: left center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px;
}

.cardSquadProfil img {
  background-color: black;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardSquadProfil p {
  width: 80%;
  overflow: auto;
}

.productsMain {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc(100%/15);
  padding: 20px;
}

.productsTitle {
  width: 80%;
}

footer {
  position: relative;
  background-color: var(--main-bg-color);
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--main-txt-color);
  padding-top: 15px;
}

footer ul {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
footer ul li {
  margin: 0;
}

footer p {
  width: 100%;
  text-align: center;
}

.footerLinks li {
  font-size: 15px;
}

.footerLinks li a {
  opacity: .7;
  transition: .3s;
}

.footerLinks li a:hover {
  opacity: 1;
}

.footerSocialNetworks li a svg {
  transition: .3s;
}
.footerSocialNetworks li a svg:hover {
  transform: scale(1.2);
}

.cloudWrapper {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}


.rentLink {
  width: 100%;
}

.showProductImageContainer {
  position: relative;
  width: 60%;
  display: grid;
  place-content: center;
}
.showProductImage{
  width: 100%;
  border-radius: 10px;
}

.showProductContainer{
  display: flex;
  width: 100%;
  gap: 20px;
}

.showProductData {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceTag {
  position: absolute;
  background-color: var(--main-bg-color);
  transform: rotate(-15deg);
  font-size: 50px;
  padding: 10px;
  border-radius: 3px;
  color: var(--main-txt-color);
  top: 0;
  margin: 0;
  left: -20px;
}
.optionsSelector {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  height: 40px;
  width: 100%;
}

.containerContact {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contactImageContainer {
  width: 40%;
}

.contactImage {
  width: 100%;
}

.sectionProductsHype{
  width: 100%;
}