@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes cloudMoveToRight {
  0% {
    transform: translateX(-60%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes cloudMoveToLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-60%);
  }
}

/* * {
  box-shadow: 0 0 3px red inset;
} */

:root {
  --main-bg-color: #0F2C59;
  --secondary-bg-color: #4F709C; 
  --main-txt-color: white;
  --main-txt-family: 'pacifico', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-image: url('../uploads/sky.jpg');
  background-repeat: repeat;
  background-size: cover; */
}

main {
  min-height: calc(100vh - 210px);
}

nav {
  /* background-color: var(--main-bg-color); */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2000' height='120' preserveAspectRatio='none' viewBox='0 0 2000 120'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1385%26quot%3b)' fill='none'%3e%3crect width='2000' height='120' x='0' y='0' fill='rgba(79%2c 112%2c 156%2c 1)'%3e%3c/rect%3e%3cpath d='M2100 120L0 120 L0 101.95Q49.64 51.59%2c 100 101.23Q149.32 50.56%2c 200 99.88Q247.93 47.81%2c 300 95.73Q386.82 15.89%2c 466.6666666666667 102.71Q550.03 19.41%2c 633.3333333333334 102.77Q681.47 50.91%2c 733.3333333333334 99.04Q818.14 17.18%2c 900 101.98Q946.76 48.74%2c 1000 95.5Q1051.95 47.45%2c 1100 99.4Q1148.09 47.49%2c 1200 95.58Q1252.67 48.25%2c 1300 100.92Q1382.53 16.78%2c 1466.6666666666667 99.31Q1514.13 46.77%2c 1566.6666666666667 94.23Q1620.33 47.9%2c 1666.6666666666667 101.56Q1747.49 15.72%2c 1833.3333333333335 96.55Q1885.95 49.16%2c 1933.3333333333335 101.78Q2016.99 18.77%2c 2100 102.42z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M2033.3333333333337 120L0 120 L0 103.69Q83.13 20.15%2c 166.66666666666669 103.28Q248.7 18.64%2c 333.33333333333337 100.67Q386.92 54.26%2c 433.33333333333337 107.85Q513.71 21.56%2c 600 101.93Q685.71 20.98%2c 766.6666666666667 106.69Q851 24.36%2c 933.3333333333335 108.69Q1016.43 25.12%2c 1100.0000000000002 108.22Q1146.07 54.29%2c 1200.0000000000002 100.35Q1285.74 19.43%2c 1366.666666666667 105.17Q1415.11 53.62%2c 1466.666666666667 102.06Q1519.44 54.83%2c 1566.666666666667 107.6Q1650.61 24.88%2c 1733.3333333333337 108.82Q1781.28 56.77%2c 1833.3333333333337 104.72Q1883.18 54.56%2c 1933.3333333333337 104.41Q1981.81 52.89%2c 2033.3333333333337 101.37z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M2000.0000000000002 120L0 120 L0 109.35Q50.05 59.4%2c 100 109.45Q182.67 25.46%2c 266.6666666666667 108.13Q319.15 60.61%2c 366.6666666666667 113.09Q416.22 62.64%2c 466.6666666666667 112.19Q547.74 26.6%2c 633.3333333333334 107.67Q686.28 60.62%2c 733.3333333333334 113.56Q817.68 31.24%2c 900 115.59Q981.85 30.78%2c 1066.6666666666667 112.63Q1117.67 63.63%2c 1166.6666666666667 114.63Q1212.93 60.89%2c 1266.6666666666667 107.15Q1317.51 57.99%2c 1366.6666666666667 108.83Q1450.91 26.41%2c 1533.3333333333335 110.65Q1581.41 58.73%2c 1633.3333333333335 106.81Q1684.29 57.77%2c 1733.3333333333335 108.73Q1783.14 58.54%2c 1833.3333333333335 108.35Q1919.47 27.82%2c 2000.0000000000002 113.96z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M2000.0000000000005 120L0 120 L0 120.12Q51.07 71.2%2c 100 122.27Q149.75 72.02%2c 200 121.76Q249.06 70.83%2c 300 119.89Q349.94 69.84%2c 400 119.78Q480.72 33.84%2c 566.6666666666667 114.56Q616.9 64.8%2c 666.6666666666667 115.03Q716.36 64.73%2c 766.6666666666667 114.42Q818.36 66.11%2c 866.6666666666667 117.8Q950.42 34.88%2c 1033.3333333333335 118.63Q1117.47 36.1%2c 1200.0000000000002 120.23Q1247.64 67.87%2c 1300.0000000000002 115.5Q1385.02 33.85%2c 1466.666666666667 118.87Q1547.49 33.03%2c 1633.3333333333337 113.85Q1683.91 64.43%2c 1733.3333333333337 115.01Q1817.54 32.55%2c 1900.0000000000005 116.75Q1950.29 67.04%2c 2000.0000000000005 117.33z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1385'%3e%3crect width='2000' height='120' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

li {
  list-style: none;
  color: var(--main-txt-color);
  font-size: 20px;
  margin: 1em;
}

.navLinks {
  position: relative;
  opacity: .7;
  transition: .3s;
  cursor: pointer;
}

.navLinks:hover {
  opacity: 1;
}

.navLinks > svg {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 32%;
  transition: .3s ease-in-out;
}

.navLinks:hover svg {
  opacity: 1;
  transform: translateY(-30px);
}

.logoHomePage {
  height: 100%;
  display: flex;
  align-items: center;
}

.logoHomePage img {
  height: 50%;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

.login-button {
  padding: 0.5em;
  background-color: var(--main-bg-color);
  border: 2px solid white;
  border-radius: 10px;
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: .9;
}

.login-button:hover {
  transform: scale(1.05);
  background-color: var(--main-txt-color);
}

.login-button:hover a {
  color: var(--main-bg-color);
}

ul, li {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 500;
}

.homepageMain {
  min-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.homepageMain h1 {
  margin: 1em;
  padding: 0.5em;
  border-radius: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  font-family: var(--main-txt-family);
  width: auto;
}

.containerCloudCard{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 200px;
  margin: auto;
  justify-content: space-around;
}

h2 {
  width: 80%;
  margin: 2em auto;
  font-family: var(--main-txt-family);
  color: var(--secondary-bg-color);
  font-size: 2em;
}

.cloudCard {
  border-radius: 10px;
  width: calc(100%/5 - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cloudThumbnail {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 200px;
}

.containerNameCloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerNameCloudDetail {
  display:  flex;
  justify-content: space-between;
  flex-direction: column;
  width: 90%;
  min-height: 200px;
}

.containerNameCloudDetail h3 {
  font-family: var(--main-txt-family);
  margin-top : 15px;
  font-size: x-large;
}


#cloudPrice {
  font-size: x-large;
}

#cloudDescription {
  height: 180px;
  overflow: hidden;
}

.rentButton {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-txt-color);
  background-color: var(--secondary-bg-color);
  transition: .3s;
}
.rentButton:hover {
  transform: scale(1.03);
}

.containerSquad {
  max-width: 100%;
  margin: auto;
}

.containerSquad p {
  width: 80%;
  margin: auto;
}

.containerSquadProfil {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.cardSquadProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
  padding-bottom: 25px;
  border-radius: 15px;
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  background-color: white;
}

.cardSquadProfil:hover {
  transform: scale(1.15);
  transform-origin: center left;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px;
}

.cardSquadProfil img {
  background-color: black;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardSquadProfil p {
  width: 80%;
  overflow: auto;
}

.productsMain {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc(100%/15);
  padding: 20px;
}

.productsTitle {
  width: 80%;
}

footer {
  overflow: hidden;
  position: relative;
  /* background-color: var(--main-bg-color); */
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--main-txt-color);
  padding-top: 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1007' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1001'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1005'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1004'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1003'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1002'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1006'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1007'%3e%3cuse xlink:href='%23SvgjsPath1001' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='90' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='150' y='270' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='210' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='330' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='330' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='330' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='330' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='390' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='390' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='390' y='330' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='390' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='390' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='390' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1006' x='450' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='450' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='450' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='450' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='450' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='450' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='510' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='510' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='510' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='510' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='510' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='510' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='570' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='570' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='570' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='630' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='630' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='630' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='630' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1005' x='690' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1004' x='690' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1003' x='690' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1001' x='690' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1002' x='690' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
}

footer ul {
  position: relative;
  z-index: 999;
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
footer ul li {
  margin: 0;
}

footer p {
  width: 100%;
  text-align: center;
}

.footerLinks li {
  font-size: 15px;
}

.footerLinks li a {
  opacity: .7;
  transition: .3s;
}

.footerLinks li a:hover {
  opacity: 1;
}

.footerSocialNetworks li a svg {
  transition: .3s;
}
.footerSocialNetworks li a svg:hover {
  transform: scale(1.2);
}

.cloudWrapperRight {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cloudWrapperLeft {
  position: absolute;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.rentLink {
  width: 100%;
}

#footerCloud1 {
  animation: cloudMoveToRight 60s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 50px;
}

#footerCloud2 {
  animation: cloudMoveToRight 70s 2s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 30px;
}

#footerCloud3 {
  animation: cloudMoveToRight 80s 4s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 45px;
}

#footerCloud4 {
  animation: cloudMoveToLeft 90s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 45px;
}

#footerCloud5 {
  animation: cloudMoveToLeft 60s 2s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 30px;
}

#footerCloud6 {
  animation: cloudMoveToLeft 70s 4s infinite both linear;
  width: 100%;
  opacity: 0.8;
  height: 50px;
}



.showProductImageContainer {
  position: relative;
  width: 60%;
  display: grid;
  place-content: center;
}
.showProductImage{
  width: 100%;
  border-radius: 10px;
}

.showProductContainer{
  display: flex;
  width: 100%;
  gap: 20px;
}

.showProductData {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceTag {
  position: absolute;
  background-color: var(--main-bg-color);
  transform: rotate(-15deg);
  font-size: 50px;
  padding: 10px;
  border-radius: 3px;
  color: var(--main-txt-color);
  top: 0;
  margin: 0;
  left: -20px;
}
.optionsSelector {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  height: 40px;
  width: 100%;
}

.containerContact {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contactInfoContainer {
  margin: 2em 4em;
  width: 25%;
}

.contactInfoContainer h3 {
  font-family: var(--main-txt-family);
}

.contactImageContainer {
  width: 40%;
  display: grid;
}

.contactImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.sectionProductsHype{
  width: 100%;
}