@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-bg-color: #0F2C59;
  --secondary-bg-color: #4F709C; 
  --main-txt-color: white;
  --main-txt-family: 'pacifico', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-image: url('../uploads/sky.jpg');
  background-repeat: repeat;
  background-size: cover; */
}

main {
  min-height: calc(100vh - 210px);
}

nav {
  background-color: var(--main-bg-color);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  flex-wrap: wrap;
}

li {
  list-style: none;
  color: var(--main-txt-color);
  font-size: 20px;
  margin: 1em;
}

.logoHomePage {
  height: 50%;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

.login-button {
  padding: 0.5em;
  background-color: var(--secondary-bg-color);
  border: 2px solid white;
  border-radius: 10px;
  transition: .350ms ease-in-out;
  cursor: pointer;
}

.login-button:hover {
  transform: scale(1.05);
  background-color: var(--main-txt-color);
}

.login-button:hover a {
  color: var(--main-bg-color);
}

ul, li {
  list-style-type: none;
  padding: 0;
}

h1, h2, h3, h4{
  margin: 0;
  font-weight: 500;
}

.homepageMain {
  min-height: 75vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepageMain h1 {
  margin: 1em;
  padding: 0.5em;
  border-radius: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  font-family: var(--main-txt-family);
  width: auto;
}

.containerCloudCard{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-width: 200px;
  margin: auto;
  justify-content: space-around;
}

h2 {
  width: 80%;
  margin: 2em auto;
  font-family: var(--main-txt-family);
  color: var(--secondary-bg-color);
  font-size: 2em;
}

.cloudCard {
  border-radius: 10px;
  width: calc(100%/5 - 40px);
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cloudThumbnail {
  width: 100%;
  object-fit: cover;
  height: 100px;
}

.containerNameCloud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerNameCloudDetail {
  display:  flex;
  justify-content: space-between;
  width: 90%;
}

.rentButton {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--main-txt-color);
  background-color: var(--secondary-bg-color);
  transition: .3s;
}
.rent-button:hover {
  transform: scale(1.03);
}

.containerSquad {
  max-width: 100%;
  margin: auto;
}

.containerSquad p {
  width: 80%;
  margin: auto;
}

.containerSquadProfil {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
}

.cardSquadProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 300px;
  padding-bottom: 25px;
  border-radius: 15px;
  transition: .3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cardSquadProfil:hover {
  transform: scale(1.02);
  transform-origin: left center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 40px;
}

.cardSquadProfil img {
  background-color: black;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.cardSquadProfil p {
  width: 80%;
  overflow: auto;
}

.productsMain {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: calc(100%/15);
  padding: 20px;
}
.productsTitle {
  width: 80%;
}
footer {
  background-color: var(--main-bg-color);
  height: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--main-txt-color);
  padding-top: 15px;
}

footer ul {
  display: flex;
  gap: 10px;
  margin: 0 15px;
}
footer ul li {
  margin: 0;
}

footer p {
  width: 100%;
  text-align: center;
}

.footerLinks li {
  font-size: 15px;
}

.footerLinks li a {
  opacity: .7;
  transition: .3s;
}
.footerLinks li a:hover {
  opacity: 1;
}

.footerSocialNetworks li a svg {
  transition: .3s;
}
.footerSocialNetworks li a svg:hover {
  transform: scale(1.2);
}

.rentLink {
  width: 100%;
}

.showProductImageContainer {
  position: relative;
  width: 60%;
  display: grid;
  place-content: center;
}
.showProductImage{
  width: 100%;
  border-radius: 10px;
}

.showProductContainer{
  display: flex;
  width: 100%;
  gap: 20px;
}

.showProductData {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.priceTag {
  position: absolute;
  background-color: var(--main-bg-color);
  transform: rotate(-15deg);
  font-size: 50px;
  padding: 10px;
  border-radius: 3px;
  color: var(--main-txt-color);
  top: 0;
  margin: 0;
  left: -20px;
}
.optionsSelector {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--main-txt-color);
  height: 40px;
  width: 100%;
}

.containerContact {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  gap: 100px;
  align-items: center;
  padding: 50px;
  margin-bottom: 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.contactImageContainer {
  width: 40%;
}

.contactImage {
  width: 100%;
}