{% extends 'base.html.twig' %}
{% block content %}
    <main class="productsMain">
        <h2 class="productsTitle">Tous nos Produits</h2>
        {% for product in ourProducts %}
            <article class="cloudCard">
                    <img src="uploads/{{ product.thumbnail }}" alt="nuage" class="cloudThumbnail">
                    <div class="containerNameCloud">
                        <div class="containerNameCloudDetail">
                            <p>{{ product.name }}</p>
                            <p>{{ product.price }}€</p>
                        </div>
                        <button class="rent-button">Louer</button>
                    </div>

            </article>
        {% endfor %}
    </main>
{% endblock %}