{% extends 'base.html.twig' %}
{% block content %}
    <main class="homepageMain">
        <h2>Vous voulez nous contacter ?</h2>
        <section class="containerContact">
            <div class="contactImageContainer">
                <img class="contactImage" src="../uploads/squeezie.jpg" alt="">
                <div class="parallax"></div>
            </div>
            <div class="contactInfoContainer">
                <p>Ardit Mataj</p>
                <p>Email: ardit.mataj@my-digital-school.org</p>
                <p>Tél: 07 81 77 20 81</p>
            </div>
        </section>
        <section class="containerContact">
            <div class="contactInfoContainer">
                <p>Email: nicolas.pinier@my-digital-school.org</p>
                <p>Tél: 06 73 57 47 29</p>
            </div>
            <div class="contactImageContainer">
                <img class="contactImage" src="../uploads/jdg.jpg" alt="">
                <p>Nicolas Pinier</p>
            </div>
        </section>
        <section class="containerContact">
            <div class="contactImageContainer">
                <img class="contactImage" src="../uploads/eryan.jpg" alt="">
                <p>Eryan Gauvrit</p>
            </div>
            <div class="contactInfoContainer">
                <p>Email: eryan.gauvrit@my-digital-school.org</p>
                <p>Tél: 06 20 76 71 97</p>
            </div>
        </section>

    </main>
{% endblock %}