{% extends 'base.html.twig' %}
{% block content %}
  <main class="homepageMain">
    <h1>La location de nuage à porté de main !</h1>
        <section class="sectionProductsHype">
            <h2>Nos produits phares</h2>
            <article class="containerCloudCard">
                {% for cloud in clouds %}
                    <section class="cloudCard">
                        <img src="uploads/{{ cloud.thumbnail }}" alt="nuage" class="cloudThumbnail">
                        <div class="containerNameCloud">
                            <div class="containerNameCloudDetail">
                                <p>{{ cloud.name }}</p>
                                <p>{{ cloud.price }}€</p>
                            </div>
                            <a class="rentLink" href="/products/{{ cloud.id }}">
                                <button class="rentButton">Louer</button>
                            </a>
                        </div>
                    </section>
                {% endfor %}
          </article>
        </section>
    <section class="containerSquad">
        <h2>Notre équipe</h2>
        <p>
            Nous sommes Ardit, Nicolas et Eryan, trois développeurs web passionnés, et nous avons uni nos forces pour créer "Cumuloc", un site de vente de nuages en ligne. Notre projet était né de notre désir commun de mélanger la technologie et l'art pour offrir quelque chose de vraiment unique. Retrouvez plus d'informations sur nous ci-dessous.
        </p>
        <article class="containerSquadProfil">
            <div class="cardSquadProfil">
                <img src="uploads/squeezie.jpg" alt="" />
                <p>
                    Je suis un développeur web passionné par l'informatique. Je suis étudiant à MyDigitalSchool Annecy et je suis actuellement en recherche d'alternance.
                </p>
            </div>
            <div class="cardSquadProfil">
                <img src="uploads/jdg.jpg" alt="" />
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam optio repellendus laboriosam delectus rerum, illum eaque cum sint doloribus accusantium saepe ullam alias facilis sed recusandae voluptate sit, ex laborum!</p>
            </div>
            <div class="cardSquadProfil">
                <img src="uploads/eryan.jpg" alt="" />
                <p>Actuellement en alternance chez Salomon (à Annecy-Le-Vieux), en septembre 2023, Eryan entre à l'école MyDigitalSchool d'Annecy en B3 Développeur Web. Son objectif: réussir sa reconvertion en développant ses compétences dans ce domaine si passionnant.</p>
            </div>
        </article>
    </section>
  </main>
{% endblock %}