{% extends 'base.html.twig' %}
{% block content %}
  <main class="homepageMain">
    <h1>La location de nuage à porté de main !</h1>
        <section>
            <h2>Nos produits phares</h2>
            <article class="containerCloudCard">
              <section class="cloudCard">
                  <img src="uploads/logo.png" alt="nuage" class="cloudThumbnail">
                  <div class="containerNameCloud">
                      <div class="containerNameCloudDetail">
                          <p>Nom</p>
                          <p>Prix</p>
                      </div>
                      <button class="rent-button">Louer</button>
                  </div>
              </section><section class="cloudCard">
                  <img src="uploads/logo.png" alt="nuage" class="cloudThumbnail">
                  <div class="containerNameCloud">
                      <div class="containerNameCloudDetail">
                          <p>Nom</p>
                          <p>Prix</p>
                      </div>
                      <button class="rent-button">Louer</button>
                  </div>
              </section><section class="cloudCard">
                  <img src="uploads/logo.png" alt="nuage" class="cloudThumbnail">
                  <div class="containerNameCloud">
                      <div class="containerNameCloudDetail">
                          <p>Nom</p>
                          <p>Prix</p>
                      </div>
                      <button class="rent-button">Louer</button>
                  </div>
              </section>
              <section class="cloudCard">
                  <img src="uploads/logo.png" alt="nuage" class="cloudThumbnail">
                  <div class="containerNameCloud">
                      <div class="containerNameCloudDetail">
                          <p>Nom</p>
                          <p>Prix</p>
                      </div>
                      <button class="rent-button">Louer</button>
                  </div>
            </section>
          </article
        </section>
    <section class="containerSquad">
        <h2>Notre équipe</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae veniam consequuntur optio hic. Totam, error rem? Voluptates doloremque, reiciendis autem libero sint animi non, maxime, tempora eius beatae nulla temporibus nemo ut! Nobis blanditiis omnis veniam quisquam, vitae reprehenderit? In porro voluptates sapiente eligendi sint. Ea exercitationem culpa aliquam cum.
        </p>
        <article class="containerSquadProfil">
            <div class="cardSquadProfil">
                <img src="uploads/squeezie.jpg" alt="" />
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam optio repellendus laboriosam delectus rerum, illum eaque cum sint doloribus accusantium saepe ullam alias facilis sed recusandae voluptate sit, ex laborum!</p>
            </div>
            <div class="cardSquadProfil">
                <img src="uploads/squeezie.jpg" alt="" />
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam optio repellendus laboriosam delectus rerum, illum eaque cum sint doloribus accusantium saepe ullam alias facilis sed recusandae voluptate sit, ex laborum!</p>
            </div>
            <div class="cardSquadProfil">
                <img src="uploads/squeezie.jpg" alt="" />
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam optio repellendus laboriosam delectus rerum, illum eaque cum sint doloribus accusantium saepe ullam alias facilis sed recusandae voluptate sit, ex laborum!</p>
            </div>
        </article>
    </section>
  </main>
{% endblock %}